<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าหลัก</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/grid.css">
</head>
<body>
    <header>
        <h1>เว็บบทความ</h1>
        <nav>
            <div>
                <% if (title) { %>
                    <a href="/postPage">โพสต์บทความ</a>
                    <a href="" id='admin'>แอดมิน</a>
                    <a href="" id='post_admin'>จัดการระบบโพสต์</a>
                    <a href="/logout" onclick="return confirm('Are you sure you want to logout?')">ออกจากระบบ</a>
                <% } else { %>
                    <a href="/">ล็อกอิน</a>
                <% } %>
            </div>
            <div>
                <h2>ยินดีต้อนรับ คุณ, <%= title %></h2>
            </div>
        </nav>
    </header>
    <hr>
    <div class="container">
        <% data.forEach((data) => { %>
            <div class="grid-item">
                <div class="grid-item-container">
                    <h2><%= data.title %></h2>
                    <h4><%= data.author %></h4>
                    <img src="./img/uploads/<%= data.image %>" alt="" />
                    <p><%= data.content %></p>      
                    <small><%= data.date %></small>
                </div>
            </div>
        <% }) %>
    </div>
    <script src="./js/home.js"></script>
</body>
</html>